.list{
    display: flex;
    padding: 0 10%;
    min-height: calc(100vh - 562px);
}

.all-item-list{
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.not-found{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-text{
    font-size: 18px;
    color: #2f3542;
    user-select: none;
    text-align: center;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .list{
        padding: 0 6%;
        min-height: calc(100vh - 462px);
    }

    .not-found-text{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .list{
        padding: 0 2%;
        min-height: calc(100vh - 412px);
    }

    .not-found-text{
        font-size: 14px;
    }
}