.header{
    display: flex;
    align-items: center;
    padding: 0 10%;
    height: 82px;
    background: #2f3542;
}

.container-title{
    display: flex;
    align-items: center;
}

.title{
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    color: #ffffff;
    user-select: none;
}

.orange{
    color:#ffa502;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header{
        height: 72px;
        padding: 0 6%;
    }

    .title{
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .header{
        height: 62px;
        padding: 0 2%;
    }
    
    .title{
        font-size: 20px;
    }
}
