.search{
    display: flex;
    align-items: center;
    padding: 0 10%;
    height: 320px;
    background: #dfe4ea;
}

.sub-search:nth-child(1){
    width: 50%;
    justify-content: center;
}
.sub-search:nth-child(2){
    width: 50%;
}

.sub-search{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.box-text-search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.sub-box-text-search{
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.big-text-search{
    font-size: 38px;
    font-weight: bold;
    color: #2f3542;
}

.small-text-search{
    font-size: 20px;
    color: #2f3542;
}

.orange{
    color:#ffa502;
}

.img-search{
    height: 80%;
}

.box-search {
    position: relative;
    display: flex;
    width: 400px;
}
  
.searchTerm {
    width: 100%;
    border: 3px solid #2f3542;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #747d8c;
}

.searchTerm:focus{
    color: #2f3542;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #2f3542;
    background: #2f3542;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .search{
        height: 260px;
        padding: 0 10%;
    }

    .sub-box-text-search{
        margin-bottom: 20px;
    }

    .big-text-search{
        font-size: 28px;
    }

    .small-text-search{
        font-size: 18px;
        color: #2f3542;
    }

    .box-search {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .search{
        height: 220px;
        padding: 0 1%;
    }

    .sub-box-text-search{
        margin-bottom: 18px;
    }

    .big-text-search{
        font-size: 24px;
        text-align: center;
    }

    .small-text-search{
        font-size: 14px;
        color: #2f3542;
        text-align: center;
    }

    .sub-search:nth-child(1){
        display: none;
    }

    .sub-search:nth-child(2){
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .box-text-search{
        align-items: center;
    }

    .box-search {
        width: 340px;
    }
}