.page {
    min-height: 100vh;
}

.loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    min-height: calc(100vh - 204px);
}

.loading-img{
    width: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .loading{
        min-height: calc(100vh - 174px);
    }
    
}

@media screen and (max-width: 768px) {

    .loading {
        min-height: calc(100vh - 164px);
    }

}
